@import "tailwindcss";

.container{
    max-width: 1340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
body{
    background: black;
    color: white;
}

.splide__pagination {
  counter-reset: pagination-num;
}

.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter( pagination-num );
}
.custom-tabs .ant-tabs-tab {
  color: white !important;
}
.custom-tabs .ant-tabs-tab:hover {
  color: red !important;
}
.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: red !important;
  font-weight: bold;
}
.custom-tabs .ant-tabs-ink-bar {
  background: red !important;
}
